.game-id-input-container {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
  
.game-id-input {
    padding: 0 1rem;
    min-height: 48px;
    max-width: 150px;
    border-top: 1px solid #1F2937;
    border-bottom:  1px solid #1F2937;
    border-left: 1px solid #1F2937;
    border-right: 0px;
    border-radius: 6px 0 0 6px;
    color: white;
    background-color: transparent;
    font-size: 15px;
    transition: border-color .2s ease-in-out;
}

.game-id-input:focus, .game-id-input:focus-visible {
    border-color: #20f110;
    outline: none;
}

@media (max-width: 1080px) {
    .game-id-input-container{
        justify-content: center;
    }
}