.game-id-input-container {
    display: flex;
    align-items: center;
}
  
.game-id-input {
    min-height: 48px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #1F2937;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
    transition: border-color .2s ease-in-out;
}

.game-id-input:focus, .game-id-input:focus-visible {
    border-color: #6441a5;
    outline: none;
}