.small-button {
    padding: .25em .75em .25em .75em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 10em;
    transition: background-color .25s ease-in-out;
    color: var(--text-color, white);
}

.small-button:hover {
    background-color: #1F2937;
}