@font-face {
    font-family: 'League Spartan';
    src: url('./assets/fonts/LeagueSpartan.woff2') format('woff2');
    ascent-override: 90%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
}

:root {
    color: white;
    background-color: #111827;
}

header {
    background-color: #111827;
    border-bottom: 0.063rem solid #1F2937;
    padding: 1.25rem 0;
}

section {
    margin: 0 auto;
    padding: 1rem 2rem;
    max-width: 80rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}