@font-face {
    font-family: 'League Spartan';
    src: url('./assets/fonts/LeagueSpartan.woff2') format('woff2');
    ascent-override: 90%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

:root {
    color: white;
    background-color: #111827;
}

a {
    line-height: 0;
    color: inherit;
    text-decoration: inherit;
}
