.game-card {
    background-color: #111827;
    border: 1px solid #1F2937;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    position: relative;
}

.game-card-image {
    width: 100%;
    height: auto;
}

.game-card-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40px; 
    text-align: center;
    overflow: hidden;
}

.game-card-title {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 15px;
}