.add-game-button {
    padding: .5em 1em;
    min-height: 50px;
    border: none;
    border-radius: 0 6px 6px 0;
    color: #ffffff;
    background-color: #1F2937;
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.add-game-button:active {
    background-color: #58f44c; /* 25% brighter */
}

.add-game-button.focused {
    color: #031b02;
    background-color: #20f110; /* base color */
}

.add-game-button.focused:hover {
    background-color: #118808; /* 25% darker */
}

.add-game-button-text {
    padding-top: 2px;
}