.header-nav-bar {
    display: flex;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
}

.header-nav-logo {
    display: flex;
    gap: 0.313rem;
}

.header-nav-logo img {
    display: block;
    height: 1.5rem;
    width: auto;
}

@media (width <= 300px) {
    .header-nav-bar {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (width <= 600px) {
    .header-nav-logo1 {
        display: none !important;
    }
}
