.header {
    background-color: #111827;
    border-bottom: 0.063rem solid #1F2937;
    padding: 1.25rem;
}

.header-content-wrapper {
    display: flex;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    gap: 0.313rem;
}

.header-logo img {
    display: block;
    height: 1.5rem;
    width: auto;
}

@media (max-width: 419px) {
    .header-content-wrapper {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
}

@media (max-width: 600px) {
    .header-logo-part1 {
        display: none !important;
    }
}