.twitch-login-button {
    font-weight: bold;
    color: #8C68CE;
    background-color: transparent;
    border: 0px;
    border-radius: 4px;
    cursor:pointer;
    transition: background-color .2s;
}

.twitch-login-button:hover {
    background-color: #33435a;
    transition: background-color cubic-bezier(0.895, 0.03, 0.685, 0.22)s;
}