.input-field-container {
    display: flex;
    align-items: center;
}
  
.input {
    min-height: 48px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #1F2937;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
    transition: border-color .2s ease-in-out;
}

.input:focus, .input:focus-visible {
    border-color: #6441a5;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}